:root {
    --royal-blue: rgb(89, 86, 233);
    --gray: rgb(108, 108, 114); 
    --black: rgb(35, 34, 51);
    --white: rgb(255, 255, 255);
}
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
}
.wrapper {
    padding: 35px 134px 85px 134px;
    width: 100vw;
    height: 100vh;
}
header {
    width: 100vw;
    height: 100vh;
    background: url(./images/background-image.png);
    object-fit: cover;
}
header .contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    color: var(--white);
}
/* those are ul-s */
header .contacts .right,
header .contacts .left {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-content: center;
}
header .contacts img {
    display: inline-block;
    height: 18px;
    width: 18px;
}
header .contacts .left span {
    display: inline-block;
    text-align: center;
    margin-left: 36px;
    height: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
header .contacts .left li {
    position: relative;
}
header .contacts .left img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
header .contacts ul {
    height: 24px;
}
/* end of contacts on top */
.desktop-nav {
    margin-top: 18px;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    background-color: var(--white);
    color: var(--black);
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px; /* 150% */
    text-transform: uppercase;
    text-align: center;
}
.desktop-nav ul {
    width: 100%;
    height: 60px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
.desktop-nav ul li a {
    display: inline-block;
    text-decoration: none;
    transform: translateY(2px);
}
.desktop-nav ul li a:visited {
    color: unset;
    opacity: 0.8;
}
.desktop-nav ul li a:hover {
    color: var(--royal-blue);
    border-bottom: 1px var(--royal-blue) solid;
}
.desktop-nav ul li  {
    text-align: center;
}
.desktop-nav .right li:last-child {
    width: 158px;
    height: 50px;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    align-items: center;
    background: var(--royal-blue);
    color: var(--white);
}
.desktop-nav .right li:last-child a:hover {
    color: var(--black);
}

.logo {
    width: 200px;
    height: 90px;
    border-radius: 5px;
    background: var(--white);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    align-self: center;
    justify-self: center;
    transform: translateY(-15px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 167px;
    height: 28px;
    padding: auto;
}
/* end of the nav */
/* start of the hero-section */
.app-buttons .btn {
    background: #000;
    width: 150px;
    height: 46px;
    border: 1px gray solid;
    border-radius: 5px;
}
img.store-logo {
    width: 40px;
    height: 40px;
    color: #fff;
}

